// Grid location is automatically counted unless overridden
$grid-counter: 1;

@mixin grid-span($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $padding: $padding, $compound-grid: false) {
  $work-column: find-compound-grid($columns, $compound-grid);
  
  @if $work-column {
    @include box-sizing(border-box);
    width: grid-span($span, $location, $work-column, $gutter, $compound-grid: $compound-grid);
    @if $grid-structure == float {
      @include structure-float($span, $location, $work-column, $gutter, $compound-grid: $compound-grid);
    }
    // add special left padding
    @if type-of($work-column) == list {
      @if type-of(nth($work-column, $location)) == list {
        padding-left: nth(nth($work-column, $location), 2);
      }
      @else if $padding != 0 {
        padding-left: $padding;
      }
      // add special right padding
      @if type-of(nth($work-column, $location + $span - 1)) == list {
        padding-right: nth(nth($work-column, $location + $span - 1), 2);
      }
      @else if $padding != 0 {
        padding-right: $padding;
      }
    }
    @else if $padding != 0 {
      padding: 0 $padding;
    }
    // bump up the counter
    $grid-counter: $location + $span;
    @if $grid-counter > column-count($work-column) {
      $grid-counter: 1;
    }
  }
}

// This writes classes, IDs, or silent objects for you to extend or use in your HTML. They can be written to different breakpoints to extend or call into your HTML as needed.
@mixin grid-objects($prefix: a, $columns: $columns, $gutter: $gutter, $padding: $padding, $compound-grid: false, $selector: "%") {
  $grouped-styles: true;
  // counter keeps track of the starting position
  $count: 0;
  %#{$prefix}column {
    @if $dir == ltr or $dir == both {
      margin-right: -100%;
      float: left;
    }
    @if $dir == rtl {
      margin-left: -100%;
      float: right;
    }
    @if $dir == both {
      #{$rtl-selector} & {
        margin-left: -100%;
        float: right;
      }
    }
    float: left;
    @include grid-padding($padding);
    margin-right: $gutter;
  }
  @for $i from 1 through column-count($columns) {
    @for $n from $count + 1 through column-count($columns) {
      #{$selector}#{$prefix}#{$count}-#{$n} {
        @extend %#{$prefix}column;
        @include grid-span($n - $count, $count + 1, $columns, $gutter, $compound-grid);
      }
    }
    $count: $count + 1;
  }
}

// Add padding to an object on the grid.
@mixin grid-padding($padding) {
  @if $padding != 0 {
    padding: 0 $padding;
    @include box-sizing(border-box);
  }
}
